/************ Header CSS ************/
.header {
  width: 100%;
  background-color: var(--bg-dark);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

a {
  color: inherit;
}

.header__icons-section {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-right: -15rem;
}

.header__icon {
  width: 2.25rem;
  height: 2.25rem;
  color: var(--white);
}

.header__icon:hover {
  color: var(--hover-accent);
}

.nav {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.nav__toggle {
  display: grid;
  align-items: center;
  color: var(--white);
  font-weight: var(--fs-title-weight);
  width: 3rem;
  height: 3rem;
}

.nav__toggle:hover {
  color: var(--hover-accent);
}

.nav__list {
  margin: 0;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.nav__link.star-border {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  transition: color .3s ease;
  cursor: pointer;
}

.nav__link.star-border .inner-content {
  font-size: var(--fs-contact-text);
  font-weight: var(--fs-subtitle-weight);
}

.nav__close,
.nav__toggle { 
  display: none;
}

.nav__link.star-border:hover,
.nav__link.star-border:hover *,
.nav__link.star-border:hover .inner-content {
  color: var(--hover-accent) !important;
}

.nav__box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  border: var(--border-skills);
  background: var(--bg-dark);
  color: var(--white);
  font-size: var(--fs-subtitle);
  cursor: default;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.nav__logo button {
  display: flex;
  justify-content: center;
}

/* Active link */
.active-link,
.nav__link:hover {
  color: var(--hover-accent);
}

.first-row {
  display: contents;
}

.second-row {
  display: contents;
}

/* ===== Overlay menu for small tablets ===== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0;
  background-color: rgba(0, 0, 0, 0.95);
  overflow: hidden;
  z-index: 1;
  transition: height 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.show-overlay {
  height: 100%;
}

.overlay .nav__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 3rem;
  color: var(--white);
  cursor: pointer;
}

.overlay .closebtn:hover {
  color: var(--hover-accent);
}

/************ BREACKPOINTS ************/
/* For large devices */
@media screen and (max-width: 1399px) {
  .desktop-icons {
    margin-right: 0;
    margin-left: 40px;
  }

  .overlay {
    display: none;
  }
}

@media screen and (max-width: 1199px){
  .header__container {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(3, 40%);
    padding: 0;
  }

  .nav__logo {
    display: flex;
    justify-content: center;
  }

  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    overflow-y: auto;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.5rem 2rem;
    background-color: var(--bg-dark);
    transition: top .3s ease-in-out;
    pointer-events: none;
    z-index: 999;
  }

  /* Show Menu */
  .show-menu {
    top: 0;
    pointer-events: auto;
  }

  .nav__list {
    padding: 0;
    display: flex;
  }

  .nav__close {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--white);
  }

  .nav__close:hover {
    color: var(--hover-accent);
  }

  .nav__toggle {
    display: flex;
    font-size: 2rem;
    cursor: pointer;
    justify-content: center;
  }

  .nav__close {
    display: flex;
  }

  .desktop-icons {
    width: 200px;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: end;
    gap: 1rem;
  }

  .overlay {
    display: none;
  }
}

/* For medium devices */
@media (min-width: 576px) and (max-width: 819px) {
  .header__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }

  .nav__menu {
    display: none;
  }

  .overlay {
    display: flex;
  }

  .nav__toggle {
    display: flex;
    justify-content: center;
  }

  .desktop-icons {
    display: flex;
    justify-content: center;
  }

  .nav__link.star-border .inner-content {
    font-size: var(--fs-text);
    font-weight: var(--fs-footer-weight);
  }
  
  .mobile-icons-overlay {
    display: none;
  }

  .overlay .closebtn {
    top: 3rem;
    right: 3.5rem;
  }
}

/* For small devices */
@media screen and (max-width: 575px) {
  .header__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }

  .nav__menu {
    display: none;
  }

  .desktop-icons {
    display: none;
  }

  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 4rem;
  }

  .overlay .closebtn {
    top: 3rem;
    right: 3.5rem;
  }

  .mobile-icons-overlay {
    margin: 0;
    margin-bottom: 7rem;
  }
}

@media screen and (max-width: 350px) {
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }

  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 4rem;
  }

  .overlay .closebtn {
    top: 3rem;
    right: 3.5rem;
  }

  .mobile-icons-overlay {
    margin: 0;
    margin-bottom: 10rem;
  }

  .nav__link.star-border .inner-content {
    font-size: var(--fs-text);
    font-weight: var(--fs-footer-weight);
  }
}