/************ About CSS ************/

.about {
  position: relative;
  margin-top: 0;
  padding: 50px 0 50px 0;
  background-image: url('../../assets/img/bg-contact.png');
  background-color: var(--bg-dark);
  background-position: top center;
}

.about__section {
  margin: 0 auto 2rem auto;
  max-width: 1200px;
}

.about__container-title {
  display: grid;
  margin-bottom: 3rem;
}

.about__container {
  margin-top: 50px !important;
  margin-bottom: 150px !important;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50% 40%;
  column-gap: 7rem;
  padding: 0;
}

.about__img-wrapper {
  width: 400px;
  height: auto;
  display: flex;
  justify-self: center;
}

.about__img {
  width: 380px;
  height: auto;
  border-radius: 1rem;
}

.about__button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 3rem;
}

.about__info {
  margin-bottom: 2rem;
}

.about__title {
  font-size: var(--fs-title);
  font-weight: var(--fs-title-weight);
  letter-spacing: var(--f-letter-spacing);
  line-height: var(--f-line-height);
  margin-bottom: 20px;
  display: block;
}

.about__subtitle {
  font-size: var(--fs-subtitle);
  font-weight: var(--fs-subtitle-weight);
  letter-spacing: var(--f-letter-spacing);
  line-height: var(--f-line-height);
  margin-bottom: 20px;
  display: block;
}

.about__description {
  color: #B8B8B8;
  font-size: var(--fs-text);
  letter-spacing: var(--f-letter-spacing);
  line-height: var(--f-line-height-text);
  width: 100%;
}

/************ BREACKPOINTS ************/
/* For large devices */
@media screen and (max-width: 1299px) {
  .about__section {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 1199px) {
  .about__container {
    column-gap: 5rem;
  }

  .about__img-wrapper {
    width: auto;
  }

  .about__img {
    width: 350px;
  }
}

@media screen and (max-width: 992px) {
  .about__container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .about__container-title {
    text-align: center;
    justify-content: center;
  }

  .about__subtitle {
    margin: 0;
  }

  .about__description {
    margin: 0;
  }

  .about__info {
    margin: 0;
    text-align: center;
    justify-content: center;
  }

  .about__img-wrapper {
    margin: 0;
    justify-content: center;
  }

  .about__img {
    margin: 0;
    width: 350px;
  }

  .about__button {
    display: inline-flex;
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (max-width: 765px) {
  .about__description {
    width: 100%;
    text-align: center;
  }
}

/* For small devices */
@media screen and (max-width: 576px) {
  .about__info {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
  }

  .about__description {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .about__img {
    width: 300px;
  }
}

/* For x-small devices */
@media screen and (max-width: 450px) {
  .star-border-download .inner-content {
    font-size: var(--fs-contact-text);
  }
}

@media screen and (max-width: 350px) {
  .about__info {
    grid-template-columns: repeat(1, 1fr);
  }
}