/************ Qualification CSS ************/

.qualification__journey {
  font-size: var(--fs-title);
  font-weight: var(--fs-title-weight);
  letter-spacing: var(--f-letter-spacing);
  line-height: var(--f-line-height);
  margin-bottom: 20px;
  display: block;
}

.qualification__section {
  margin: 0 auto 2rem auto;
  max-width: 1200px;
}

.qualification__container-title {
  display: grid;
  margin-bottom: 3rem;
}

.qualification__subtitle__journey {
  font-size: var(--fs-subtitle);
  font-weight: var(--fs-subtitle-weight);
  letter-spacing: var(--f-letter-spacing);
  line-height: var(--f-line-height);
  margin-bottom: 20px;
  display: block;
}

.qualification__container {
  margin: 0 auto;
  width: 100%;
  max-width: 768px !important;
  min-height: 500px !important; /*adjust when needed to add more tabs*/
}

.qualification__container.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.qualification__tabs {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.qualification__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  letter-spacing: var(--f-letter-spacing);
  font-size: var(--fs-subtitle);
  margin: 0 1.5rem;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  border: var(--border-skills);
  background: var(--bg-dark);
  transition: var(--buttons-hover-animation);
}
.qualification__button:hover {
  color: var(--hover-accent);
}

.qualification__icon {
  margin-right: 0.25rem;
}

.qualification__active {
  color: var(--hover-accent);
}

.qualification__sections {
  display: grid;
  justify-content: center;
  grid-template-columns: 0.75fr;
  padding-left: 12px;
  padding-right: 12px;
}

.qualification__content {
  margin-top: 1.5rem !important;
  display: none;
}

.qualification__content-active {
  display: block;
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__data-right {
  margin-left: .5rem;
}

.qualification__title {
  font-size: var(--fs-subtitle);
  font-weight: 200;
  margin-bottom: 20px;
}

.qualification__subtitle {
  display: inline-block;
  font-size: var(--fs-contact-text);
  margin-bottom: 20px;
}

.qualification__calender {
  display: flex;
  margin-bottom: 2rem;
  font-size: var(--fs-contact-text);
}

.qualification__calender svg {
  width: 24px !important;
  height: 24px !important;
  margin-right: 0.5rem;
  flex-shrink: 0;
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--hover-accent);
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 2px;
  height: 100%;
  background-color: var(--hover-accent);
  transform: translate(6px, -7px);
}

.qualification__border-mobile {
  display: none;
}

/************ BREACKPOINTS ************/
/* For large devices */
@media screen and (max-width: 1299px) {
  .qualification__section {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 992px) {
  .qualification__section {
    margin: 0;
  }

  .qualification__container {
    margin-left: auto;
    margin-right: auto;
  }

  .qualification__journey {
    display: flex;
    justify-content: center;
  }

  .qualification__subtitle__journey {
    display: flex;
    justify-content: center;
  }

  .qualification__sections {
    grid-template-columns: 1fr;
  }

  .qualification__data {
    column-gap: 1rem;
  }

  .qualification__data-left {
    margin-left: 3rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .qualification__sections {
    grid-template-columns: 1fr;
  }

  .qualification__calender {
    font-size: var(--fs-text);
  }

  .qualification__data-left {
    margin-left: 0;
  }
}

/* For small devices */
@media screen and (max-width: 576px) {
  .qualification__sections {
    grid-template-columns: initial;
  }

  .qualification__button {
    font-size: var(--fs-text);
    margin: 0 0.75rem;
  }

  .qualification__section {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .qualification__data-right {
    margin-left: 1rem;
  }
}

/* For x-small devices */
@media screen and (max-width: 405px) {
  .qualification__container-title {
   margin-bottom: 2rem; 
  }

  .qualification__subtitle__journey {
    text-align: center;
  }

  .qualification__tabs {
    display: grid;
    justify-content: center;
    gap: 1.5rem;
  }

  .qualification__rounder {
    display: none;
  }

  .qualification__line {
    display: none;
  }

  .qualification__data {
    display: flex;
    text-align: center;
    justify-content: center;
    column-gap: 0;
  }

  .qualification__title {
    font-size: 28px;
  }

  .qualification__calender {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .qualification__border-mobile {
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--hover-accent);
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  .qualification__data {
    gap: 0.5rem;
  }
}