/************ Global and Variables ************/

/************ Variables ************/
:root {
  /* Colors */
  --bg-dark: #121212;
  --bg-contact: rgba(23, 156, 218, 0.432);
  --white: #fff;
  --grey: #B8B8B8;
  --hover-accent: LightSkyBlue;
  --hover-accent-background: rgba(135, 206, 250, 0.293);

  /* Border colors and settings */
  --border-radius: 20px;
  --border-light: 1px solid rgba(255, 255, 255, 0.5);
  --border-skills: 2px solid #222;
  --border-wrap: 0.08em solid #666;

  /* Font sizes */
  --fs-banner-title: 65px;
  --fs-title: 45px;
  --fs-title-weight: 700;
  --fs-subtitle: 25px;
  --fs-subtitle-weight: 500;
  --fs-contact-text: 20px;
  --fs-text: 18px;
  --fs-footer: 14px;
  --fs-footer-weight: 400;
  --f-letter-spacing-footer: 0.5px;
  --f-letter-spacing: 0.8px;
  --f-line-height: 1em;
  --f-line-height-text: 1.5em;

  /* Animations and transitions */
  --img-animation: updown 3s linear infinite;
  --buttons-hover-animation: color 0.3s ease;
  --skills-hover-animation: transform 0.3s ease;
  --contact-form-animation: 0.3s ease-in-out;
}

/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: var(--fs-footer-weight);
  overflow-x: hidden;
  position: relative;
  background-color: var(--bg-dark) !important;
  color: var(--white) !important;
  font-family: 'Centra', sans-serif !important;
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

img {
  width: 100%;
  height: auto;
}