/************ Global and Variables ************/

/************ Variables ************/
:root {
  /* Colors */
  --bg-dark: #121212;
  --bg-contact: rgba(69, 148, 212, 0.432);
  --white: #fff;
  --grey: #B8B8B8;
  --hover-accent: LightSkyBlue;
  --hover-accent-background: rgba(135, 206, 250, 0.293);

  /* Border colors and settings */
  --border-radius: 20px;
  --border-light: 1px solid rgba(255, 255, 255, 0.5);
  --border-skills: 2px solid #222;
  --border-wrap: 0.08em solid #666;

  /* Font sizes */
  --fs-banner-title: 65px;
  --fs-title: 45px;
  --fs-title-weight: 700;
  --fs-subtitle: 25px;
  --fs-subtitle-weight: 500;
  --fs-contact-text: 20px;
  --fs-text: 18px;
  --fs-footer: 14px;
  --fs-footer-weight: 400;
  --f-letter-spacing-footer: 0.5px;
  --f-letter-spacing: 0.8px;
  --f-line-height: 1em;
  --f-line-height-text: 1.5em;

  /* Animations and transitions */
  --img-animation: updown 3s linear infinite;
  --buttons-hover-animation: color 0.3s ease;
  --skills-hover-animation: transform 0.3s ease;
  --contact-form-animation: 0.3s ease-in-out;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}


/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}

body {
  font-weight: var(--fs-footer-weight);
  overflow-x: hidden;
  background-color: var(--bg-dark) !important;
  color: var(--white) !important;
  font-family: 'Centra', sans-serif !important;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none !important;
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

img {
  width: 100%;
  height: auto;
}

/************ BREACKPOINTS ************/
/* For large devices */
@media screen and (max-width: 992px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}