/************ Contact CSS ************/

.contact {
  position: relative;
  margin-top: 0;
  padding: 50px 0 100px 0;
  background-image: url('../../assets/img/bg-contact.png');
  background-color: var(--bg-dark);
  background-position: top center;
  background-repeat: repeat;
}

.contact__section {
  margin: 0 auto 2rem auto;
  max-width: 1200px;
}

.contact__container-title {
  margin: 0 auto 2rem auto;
}

.contact__container {
  margin-top: 50px !important;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50% 40%;
  column-gap: 7rem;
  padding: 0;
}

.contact__img-wrapper {
  display: flex;
  justify-content: center;
}

.contact img {
  width: 500px;
  animation: var(--img-animation);
}

.contact h2 {
  font-size: var(--fs-title);
  font-weight: var(--fs-title-weight);
  margin-bottom: 30px;
}

.contact form input, .contact form textarea {
  width: 100%;
  background: var(--bg-contact);
  border: var(--border-light);
  border-radius: var(--border-radius);
  color: var(--white);
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: var(--fs-subtitle-weight);
  font-size: var(--fs-text);
  letter-spacing: var(--f-letter-spacing);
  transition: var(--contact-form-animation);
}

.contact form input:focus, .contact form textarea:focus, select:focus {
  outline: none;
  background: var(--white);
  color: var(--bg-dark);
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: var(--fs-contact-text);
  font-weight: var(--fs-footer-weight);
  color: var(--white);
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: var(--bg-dark);
  opacity: 0.8;
}

/************ BREACKPOINTS ************/
/* For large devices */
@media screen and (max-width: 1199px) {
  .contact__form {
    width: 120%;
  }
}

@media screen and (max-width: 992px) {
  .contact__container {
    grid-template-columns: 1fr;
  }

  .contact h2 {
    text-align: center;
  }

  .contact__form {
    width: 100%;
  }

  .contact__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto 0 auto;
    width: 100%;
  }

  .contact img {
    margin-top: 2rem;
  }
}

/* For small devices */
@media screen and (max-width: 576px) {
  .contact__form {
    width: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .contact__form {
    margin: 0;
  }

  .contact form input::placeholder, .contact form textarea::placeholder,
  .contact form input, .contact form textarea {
    font-size: 16px;
  }
}