/************ Contact CSS ************/

.contact {
  position: relative;
  margin-top: 0;
  padding: 50px 0 100px 0;
  background-image: url('../../assets/img/bg-contact.png');
  background-color: var(--bg-dark);
  background-position: top center;
  background-repeat: no-repeat;
}

.contact__section {
  margin: 0 auto 2rem auto;
  max-width: 1200px;
}

.contact__container-title {
  margin: 0 auto 2rem auto;
}

.contact img {
  margin-left: 50px;
  width: 100%;
  animation: var(--img-animation);
}

.contact h2 {
  font-size: var(--fs-title);
  font-weight: var(--fs-title-weight);
  margin-bottom: 30px;
}

.contact form input, .contact form textarea {
  width: 100%;
  background: var(--bg-contact);
  border: var(--border-light);
  border-radius: var(--border-radius);
  color: var(--white);
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: var(--fs-subtitle-weight);
  font-size: var(--fs-text);
  letter-spacing: var(--f-letter-spacing);
  transition: var(--contact-form-animation);
}

.contact form input:focus, .contact form textarea:focus, select:focus {
  outline: none;
  background: var(--white);
  color: var(--bg-dark);
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: var(--fs-contact-text);
  font-weight: var(--fs-footer-weight);
  color: var(--white);
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: var(--bg-dark);
  opacity: 0.8;
}

/************ BREACKPOINTS ************/
/* For large devices */
@media screen and (max-width: 992px) {
  .contact h2 {
    text-align: center;
  }

  .contact__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto 0 auto;
    width: 100%;
  }
}

/* .contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
} */
/* .contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
} */