.shiny-text {
  color: #ffffffd2; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.3) 40%,
    DeepSkyBlue 50%,
    rgba(0, 0, 0, 0.3) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
