.star-border-container {
  display: inline-block;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.border-gradient-bottom {
  position: absolute;
  width: 300%;
  height: 50%;
  opacity: 0.7;
  bottom: -12px;
  right: -250%;
  border-radius: 50%;
  animation: star-movement-bottom linear infinite alternate;
  z-index: 0;
}

.border-gradient-top {
  position: absolute;
  opacity: 0.7;
  width: 300%;
  height: 50%;
  top: -12px;
  left: -250%;
  border-radius: 50%;
  animation: star-movement-top linear infinite alternate;
  z-index: 0;
}

.inner-content {
  position: relative;
  border: 1px solid #222;
  background: var(--bg-dark);
  color: var(--white);
  font-size: var(--fs-contact-text);
  text-align: center;
  padding: 10px 20px;
  border-radius: 20px;
  z-index: 1;
  transition: color 0.3s ease;
}

.inner-content:hover {
  color: var(--hover-accent);
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}

/* Only for the Send button */
.star-border-send {
  display: inline-block;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
}

.star-border-send .border-gradient-bottom,
.star-border-send .border-gradient-top {
  width: 300%;
  height: 50%;
  opacity: 0.7;
  border-radius: 50%;
  z-index: 0;
}

.star-border-send .border-gradient-bottom {
  bottom: -12px;
  right: -250%;
  animation: star-movement-bottom linear infinite alternate;
}

.star-border-send .border-gradient-top {
  top: -12px;
  left: -250%;
  animation: star-movement-top linear infinite alternate;
}

.star-border-send .inner-content {
  position: relative;
  border: 2px solid #222;
  background: var(--bg-dark);
  color: var(--white);
  font-size: var(--fs-subtitle);
  text-align: center;
  padding: 15px 30px;
  border-radius: 20px;
  z-index: 1;
  transition: all 0.3s ease;
}

.star-border-send .inner-content:hover {
  color: var(--hover-accent);
}

@media screen and (max-width: 992px) {
  .star-border-send {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }

  .star-border-send .inner-content {
    text-align: center;
    justify-content: center;
  }
}


/* Only for the Download button */
.star-border-download {
  display: inline-block;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
}

.star-border-download .border-gradient-bottom,
.star-border-download .border-gradient-top {
  width: 300%;
  height: 50%;
  opacity: 0.7;
  border-radius: 50%;
  z-index: 0;
}

.star-border-download .border-gradient-bottom {
  bottom: -12px;
  right: -250%;
  animation: star-movement-bottom linear infinite alternate;
}

.star-border-download .border-gradient-top {
  top: -12px;
  left: -250%;
  animation: star-movement-top linear infinite alternate;
}

.star-border-download .inner-content {
  position: relative;
  border: 2px solid #222;
  background: var(--bg-dark);
  color: var(--white);
  font-size: var(--fs-subtitle);
  text-align: center;
  padding: 15px 30px;
  border-radius: 20px;
  z-index: 1;
  transition: all 0.3s ease;
}

.star-border-download .inner-content:hover {
  color: var(--hover-accent);
}

@media screen and (max-width: 992px) {
  .star-border-download { 
    justify-content: center;
  }

  .star-border-download .inner-content {
    justify-content: center;
  }
}