/************ Footer CSS ************/

.footer {
  background-color: var(--bg-dark);
  border-top: var(--border-skills);
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr 20%;
  padding: 1rem 0 1rem 0;
}

.footer__list {
  margin-top: 0.5rem;
  display: inline-block;
  justify-content: center;
}

.footer__rights {
  margin-top: 1rem;
  justify-content: center;
}

.footer li {
  margin-right: 0.75rem;
  font-weight: var(--fs-footer-weight);
  font-size: var(--fs-footer);
  color: var(--grey);
  letter-spacing: var(--f-letter-spacing-footer);
}

/************ BREACKPOINTS ************/
/* For large devices */
@media screen and (max-width: 992px) {
  .footer__container {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .footer__list {
    order: 1;
  }

  .footer__rights {
    order: 2;
    display: flex;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .footer__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .footer__list, .footer__rights {
    text-align: center;
  }
}